@charset "utf-8";


/* silder */
#slider {  width: 100%; height: 370px; background-color: aquamarine;}
/* main */
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #444;
    display: flex;
    justify-content: center;
    align-items: center;
}
.new_item{width: 100%; height: 60%;}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.swiper-wrapper{margin-top: 20px;}
.swiper-button-next,
.swiper-button-prev {
    opacity: 0;           /* 보이지 않게 */
    transition: opacity 0.3s;  /* 서서히 나타나도록 */
}

/* 마우스를 슬라이드 영역에 올리면 버튼 보임 */
.mySwiper:hover .swiper-button-next,
.mySwiper:hover .swiper-button-prev {
    opacity: 1;
}




